<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }}</title>
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'recipeDetail.css' %}">
</head>
<body>
    <!-- Хедер -->
    <header>
        <a href="{% url 'about-us' %}" class="back-btn">Recipes</a>
        <h1>What’s for Dinner?</h1>
        <a href="{% url 'profile' %}" class="back-btn">My Profile</a>

    </header>

    <!-- Основний контейнер -->
    <div class="container">
        <div class="main-recipe-container">
           <!-- Зображення рецепту -->
                  <div class="recipe-image">
                                {% if recipe.image_url %}
                                        <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}" width="200" height="250">
                                    {% elif recipe.image %}
                                        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" width="200" height="250">
                                    {% endif %}

                            </div>


            <!-- Деталі рецепту -->
            <div class="recipe-details">
                <h1>{{ recipe.name }}</h1>
                <p class="category">Category: {{ recipe.category }}</p>

               <!-- Інгредієнти -->
                        <div class="ingredients">
                            <h3>Ingredients:</h3>
                            {% if recipe.ingredients %}
                                <ul>
                                    {% if recipe.ingredients.0.original %}
                                        {% for ingredient in recipe.ingredients %}
                                            <li>{{ ingredient.original }}</li>
                                        {% endfor %}
                                    {% else %}
                                      {% for ingredient in recipe.ingredients|split:"," %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                                    {% endif %}
                                </ul>
                            {% else %}
                                <p>No ingredients available.</p>
                            {% endif %}
                        </div>




                <!-- Інструкції -->
                              <div class="instructions">
                    <h3>Instructions:</h3>
                    {% if recipe.instructions %}
                        <div>{{ recipe.instructions|safe }}</div>
                    {% else %}
                        <p>No instructions available.</p>
                    {% endif %}
                </div>


                 <!-- Кнопка додавання до улюблених -->
             <div class="add-favorite">
    <form method="POST"
          action="{% if recipe.name %}
                    {% url 'add_to_favorites_spoonacular' recipe.name %}
                 {% else %}
                    {% url 'add_to_favorites' recipe.id %}
                 {% endif %}">
        {% csrf_token %}
        <button type="submit" class="favorite-btn">Add to Favorite Recipes</button>
    </form>
</div>





            </div>
        </div>
    </div>
</body>
</html>