<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>

<body>

<header>
    <a href="{% url 'mainPage' %}" class="back-btn">Back</a>
    <h1>What’s for Dinner?</h1>
</header>

<form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Register New Account</h1>

    <div class="form-floating">
      <label for="id_username">Username</label>
      <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required>
    </div>

    <div class="form-floating">
      <label for="id_password1">Password</label>
      <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password" required>
    </div>

    <div class="form-floating">
      <label for="id_password2">Confirm Password</label>
      <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirm Password" required>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
</form>

</body>
</html>
